

div#dragonFly {
    position: absolute;
    width: 500px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 400px;
    /*display: -webkit-flex;
    display: flex;*/
    -webkit-align-items: stretch;
    align-items: stretch;
    display: none;
}

/*<div classID="leftBox"></div>
            <div classID="centreBox"></div>
            <div classID="rightBox"></div>*/
#leftBox {
    position: relative;
    flex-grow: 1;
    flex-direction: column;
}

#centreBox {
    flex-grow: 1.5;
    border: 1px solid blue;
}

#rightBox {
    position: relative;
    flex-grow: 1;
    border: 1px solid red;
}
