

div#dragonFly {
    position: absolute;
    width: 500px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 400px;
    /*display: -webkit-flex;
    display: flex;*/
    -webkit-align-items: stretch;
    align-items: stretch;
    display: none;
    z-index: 1000;
}

/*<div classID="leftBox"></div>
            <div classID="centreBox"></div>
            <div classID="rightBox"></div>*/
#leftBox {
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    background-color: lightgray;
    text-align: center;
}

#leftBox input {
    width:95%;
}
#centreBox {
    flex-grow: 1.5;
    background-color: darkgrey;
}

#rightBox {
    position: relative;
    flex-grow: 1;
    background-color: lightgray;
    text-align: center;
}

#rightBox input {
    width:95%;
}

.dropdownItem:nth-child(even){
    background-color: #eaeaea;
}
.dropdownItem:nth-child(odd){
    background-color: #f6f6f6;
}
.dropdownItem:hover {
    background-color: #cccccc;
    cursor: pointer;
}
