
ul.fileTabs {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    overflow-x: auto;
    width: 90%;
}

ul.fileTabs .tab-text {
    display: inline;
    padding: 10px 20px;
    cursor: pointer;
}

